* {
  margin: 0;
  padding: 0;
  font-family: "Alumni Sans", sans-serif;
}

.page-container main .contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
  padding: 0 60px;
  min-height: 100vh;
  margin-top: 60px;
}
.page-container main .contact-grid .left-column {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.page-container main .contact-grid .left-column h1 {
  color: rgb(74, 74, 87);
  font-size: 2rem;
  margin-bottom: 70px;
}
.page-container main .contact-grid .form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.page-container main .contact-grid .form .input-wrapper {
  position: relative;
}
.page-container main .contact-grid .form .input-wrapper input[type=text],
.page-container main .contact-grid .form .input-wrapper textarea {
  width: 100%;
  border: none;
  background: transparent;
  padding: 10px 5px;
  font-size: 14px;
  color: rgb(74, 74, 87);
  outline: none;
}
.page-container main .contact-grid .form .input-wrapper input[type=text]::-moz-placeholder, .page-container main .contact-grid .form .input-wrapper textarea::-moz-placeholder {
  color: #858585;
}
.page-container main .contact-grid .form .input-wrapper input[type=text]::placeholder,
.page-container main .contact-grid .form .input-wrapper textarea::placeholder {
  color: #858585;
}
.page-container main .contact-grid .form .input-wrapper::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #999;
  transform: scaleX(1);
  transform-origin: center;
  transition: background-color 0.9s ease;
}
.page-container main .contact-grid .form .input-wrapper:has(input:focus)::after, .page-container main .contact-grid .form .input-wrapper:has(textarea:focus)::after {
  background-color: #ee227e;
}
.page-container main .contact-grid .form textarea {
  resize: none;
  height: 150px;
}
.page-container main .contact-grid .form input[type=submit] {
  width: -moz-fit-content;
  width: fit-content;
  align-self: flex-start;
  background-color: #ee227e;
  color: white;
  padding: 18px 32px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 0.8rem;
  text-decoration: none;
  cursor: pointer;
  border: none;
}
.page-container main .contact-grid .form input[type=submit]:hover {
  box-shadow: 0 0 10px rgba(251, 1, 113, 0.4);
}
.page-container main .contact-grid .contact-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
  margin-left: 150px;
  gap: 90px;
}
.page-container main .contact-grid .contact-info > div {
  width: 100%;
}
.page-container main .contact-grid .contact-info .map,
.page-container main .contact-grid .contact-info .phone,
.page-container main .contact-grid .contact-info .brief-case {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.page-container main .contact-grid .contact-info .map .info-block,
.page-container main .contact-grid .contact-info .phone .info-block,
.page-container main .contact-grid .contact-info .brief-case .info-block {
  display: flex;
  flex-direction: column;
}
.page-container main .contact-grid .contact-info .map .info-block .header-line,
.page-container main .contact-grid .contact-info .phone .info-block .header-line,
.page-container main .contact-grid .contact-info .brief-case .info-block .header-line {
  display: flex;
  align-items: center;
}
.page-container main .contact-grid .contact-info .map .info-block .header-line i,
.page-container main .contact-grid .contact-info .phone .info-block .header-line i,
.page-container main .contact-grid .contact-info .brief-case .info-block .header-line i {
  color: #ee227e;
  font-size: 35px;
  margin: 0;
}
.page-container main .contact-grid .contact-info .map .info-block .header-line h2,
.page-container main .contact-grid .contact-info .phone .info-block .header-line h2,
.page-container main .contact-grid .contact-info .brief-case .info-block .header-line h2 {
  margin: 0;
  font-size: 18px;
  color: rgb(74, 74, 87);
  font-weight: 600;
  margin-left: 5px;
}
.page-container main .contact-grid .contact-info .map .info-block p,
.page-container main .contact-grid .contact-info .phone .info-block p,
.page-container main .contact-grid .contact-info .brief-case .info-block p {
  margin: 25px 0 0 0;
  color: #858585;
  font-size: 14px;
  line-height: 1.4;
  padding-left: 0;
}

@media (max-width: 768px) {
  .page-container main {
    padding-bottom: 30px;
  }
  .page-container main .contact-grid {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    width: 100%;
    padding: 0;
  }
  .page-container main .contact-grid h1 {
    width: 100%;
    text-align: center;
  }
  .page-container main .contact-grid .form {
    align-items: center;
    width: 100%;
  }
  .page-container main .contact-grid .form .input-wrapper {
    width: 80%;
  }
  .page-container main .contact-grid .form input[type=submit] {
    align-self: inherit;
  }
  .page-container main .contact-grid .contact-info {
    margin: 0;
  }
  .page-container main .contact-grid .contact-info .map,
  .page-container main .contact-grid .contact-info .phone,
  .page-container main .contact-grid .contact-info .brief-case {
    width: 55%;
  }
}/*# sourceMappingURL=contact.css.map */